.navbar-brand {
    height: 30px;   
}

 .a {
    margin-left: 50px; 
 }

 .sidenav {
    width: 60px;
    border-radius: 25px;  
    position: fixed;
    z-index: 3;
    top: 140px;
    left: 5px;
    background: #eee;
    margin-left: 20px;
    padding: 9px 0;
  }

  .sidenav a {
    padding:   6px 16px 12px;
    border-radius: 20px; 
    text-decoration: none;
    font-size: 19px;
    display: inline-block;
    height: 90px;
   margin-left: -13px;
    
  }
  .sidenav a:hover {
    color: grey;
  }

  .button {
    background-color:blue;
    border-radius: 600px;
    border: 1px;
    color: white;
    padding: 15px;
    text-align: start;
    display: inline-block;
    font-size: 17px;
    margin: 3px ;
    margin-left: 1px;
  }
div.col-4{
    border-right: 2px solid #000333;
}
div.col-4:last-child{
    border-right: none;
}

.btn-info{
  border-radius: 2500px;
  padding: 106px;
 
  
}


div.c {
    text-align: right;
    line-height: 1;
    font-size: 15px;
    padding: 0;     
}

 div.d {
        text-align: right;
        border-radius: 25px;
    }

    /* .p{
      margin-left: 60px;
    } */


    
   .b
   {
     width: 120px;
     float: left;
     margin:15px;
     border-right: 0.5px solid grey;
  }








  




